body {
    background-color: #1e1e2f;
}

/* SECTION */
.feat-section,
.tech-section {
    padding: 60px 20px;
    text-align: center;
}

/* TITLES */
.feat-title {
    color: #fff;
    font-size: 32px;
    margin-bottom: 40px;
}

/* FEATURE CARDS */
.feat-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.feat-card {
    background: #2a293d;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: left;
    transition: 0.3s;
}

.feat-card:hover {
    transform: translateY(-5px);
}

.feat-card h3 {
    margin-bottom: 10px;
}

.feat-card ul {
    padding-left: 20px;
}

.feat-card li {
    margin-bottom: 8px;
}

/* TECH STACK */
.tech-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.tech-card {
    background: #2a293d;
    padding: 20px 40px;
    border-radius: 20px;
    color: #fff;
    width: 250px;
    text-align: left;
    transition: 0.3s;
}
.tech-card h3, li {
    margin-bottom: 8px;
}

.tech-card:hover {
    transform: translateY(-5px);
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .feat-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .feat-container {
        grid-template-columns: 1fr;
    }
}