::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1E1D27;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #5C5A72;
  border-radius: 8px;
  border: 2px solid #1E1D27;
}

::-webkit-scrollbar-thumb:hover {
  background: #7D7AA0;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #5C5A72 #1E1D27;
}
/* ===== BASE ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: #1E1D27;

}

.container {
  display: flex;
  gap: 15px;
  max-width: 1720px;
  margin: auto;
}

/* ===== MAIN ===== */
.main {
  display: flex;
  width: 100%;
  background: #D2D2D2;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  min-height: 900px;
  max-height: 1500px; /* or whatever feels reasonable */
}
/* content */
.content {
  padding: 20px;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 180px;
  background: #1E1D27;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}
.sidebar h2 {
  text-align: center;
  padding-bottom: 20px;
  color: #e5e5e5;
}

.sidebar img {
  width: 80px;
  margin: 20px auto;
}

.sidebar nav a {
  display: block;
  padding: 10px;
  border-radius: 6px;
  color: #e5e5e5;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar nav button{
  border: none;
  background: none;
  color: #e5e5e5;
  margin-top: 10px;
  font-size: 18px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px auto;
  cursor: pointer;
}

.sidebar nav a:hover {
  background: #444;
}
.sidebar nav a span {
  margin-left: 5px;
}
/* mobile hidden */
.sidebar-hidden {
  transform: translateX(-100%);
}

/* ===== OVERLAY ===== */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}

.overlay.show {
  display: block;
}
/* Toast container */
.toast{
  position: fixed;
  inset: 0;
  z-index: 1001;

  display: none;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
}

/* Toast box */
.toast-box{
  display: flex;
  align-items: center;
  gap: 16px;

  background: #ffffff;
  color: #1E1D27;

  padding: 16px 24px;
  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.1);

  transform: scale(0.95);
  opacity: 0;

  transition: all 0.3s ease;
}

/* Toast icon */
.toast-icon{
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #DCFCE7;
  color: #16A34A;

  font-size: 18px;
}

/* Message text */
.toast-message{
  font-weight: 600;
  font-size: 16px;
}

/* Animation states */
.toast.show{
  display: flex;
}

.toast-box.show{
  transform: scale(1);
  opacity: 1;
}
/* Toast container */
#toast-container{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Base toast */
.toastValidation {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px 18px;
  border-radius: 10px;

  color: white;
  font-weight: 500;
  font-size: 14px;

  min-width: 240px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.2);

  transform: translateX(120%);
  opacity: 0;

  animation: toastIn .35s forwards;
}

/* Success */
.toastValidation.success{
  background: #16a34a;
}

/* Error */
.toastValidation.error{
  background: #dc2626;
}

/* Slide animation */
@keyframes toastIn{
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toastOut{
  to{
    transform: translateX(120%);
    opacity: 0;
  }
}

/* icon */
.toastValidation i{
  font-size: 16px;
}
/* ===== HAMBURGER ===== */
.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}


/* ===== MENU SECTION ===== */
.menu-section {
  overflow-y: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* top navigation */
.top-nav {
  background: #1E1D27;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.top-nav h4 {
  font-size: 22px;
  color: white;
}

/* search */
.search-box {
  position: relative;
  width: 350px;
}
#search-mobile {
  display: none;
}
.search-box input {
  width: 100%;
  padding: 8px 10px 8px 35px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.search-box i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 14px;
}
.content{
  position: relative;
}

.content-loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D2D2D2;
  display: flex;
  justify-content: center;
    align-items: flex-start;
  padding-top: 120px; 
  z-index: 10;
}

.spinner{
  width: 35px;
  height: 35px;
  border: 4px solid #ddd;
  border-top: 4px solid #1E1D27;
  border-radius: 50%;
  animation: spin .8s linear infinite;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}
/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
   .container {
    flex-direction: column;
    height: 100vh;
  }

  .main {
    flex-direction: column;
  }

  .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
     color: white;
  }
  .title-mobile {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .cart-icon {
    font-size: 20px;
    padding-right: 10px;
    cursor: pointer;
  }
  .search-box {
    width: auto;
    margin: 10px 20px;
  }
  #search-mobile {
    display: flex;
  }
  #search-desktop {
    display: none;
  }
  .sidebar {
    position: absolute;
    z-index: 999;
    height: 100vh;
    text-align: center;
  }
  
}

/* hide hamburger on desktop */
@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }
  .sidebar {
    transform: translateX(0) !important;
  }

  .overlay {
    display: none !important;
  }
}
